@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Mochiy+Pop+P+One&family=Noto+Sans&family=Supermercado+One&display=swap');
#content {
    max-width:1600px;
    margin: 0 auto;
}
nav {
    text-align: center;
    text-decoration: none; 
    display: grid;
    grid-template-columns: 150px auto;
    opacity: 1;
    width:100%;
    
}  
    
.logo_link{
    width: 15px;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
   
}
.header_links{
    display:flex;
    justify-content:space-around;
    align-content:end;
}
nav a{
    text-align: center;
    text-decoration: none;
    padding:35px;   
}
a{
    text-decoration: none;
    color:rgb(22, 36, 15)
}
nav a:hover {
    text-align: center;
    background-color: #d5f1d2ec;
    opacity: 0.5;
    color:rgba(153, 205, 50);
    text-decoration: none;
    padding:35px;
    align-content: center;
}
.hero_images{
    text-align: center;
    background-color:rgb(230, 241, 223);
    color:#2F4550;
    box-sizing: border-box;
    padding-bottom: 35px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 2fr 1fr;
    margin-top: -150px;
    z-index: -3;
}
.hero_box{
    grid-column: 1/4;
    grid-row: 1/3;
    width: 100%;
   
}

.home_title{
    font-size: 2em;
    font-family: Dongle, Noto-sans ,arial;
    grid-column: 2/3;
    grid-row: 1/2;
    color:rgba(81, 91, 236, 0.836);
    margin-top: 150px;
    
}
.home_title p{
    font-family:"Supermercado one", "Rage", "Brush Script MT";
    font-size: 0.8em;
    
}
.home_title h1{
    margin-top: 150px;
    font-size: 1.8em;
}
h2,h3,h4, .msg h{
    font-family: Dongle, Noto-sans ,arial;
    font-size: 25px;
    padding:0;
    margin:0;
}
.listings{
    text-align: center;
    margin: 200px 0;
}
.icon {
    border:10px;
    width: 80px;
    padding:10px;
}
.listing_img{
    border: 10px solid rgb(111, 184, 111);
    width:350px;
    height: 300px;
    border: 10px solid rgb(111, 184, 111);
    box-shadow: 3px 3px 10px #555;
    
}
.listing_img:hover{
    border: 10px solid rgb(111, 184, 111);
    width:385px;
    height: 335px;
    border: 10px solid rgb(111, 184, 111);
    box-shadow: 5px 5px 10px #555;
    transition: 0.4s;
}
.listings a:hover{
    color:green;
    font-size:40px;
}
/**.rapids-card img{
    height:200px;
    width:300px;
    margin: 200px;
    border: 10px solid rgb(111, 184, 111);
    box-shadow: 3px 3px 10px #555;
}**/
#background{
    height: 725px;
    background-color: rgb(123, 155, 123);
}
header{
    background-color: rgb(124, 165, 184, 0.2);
    height: 150px;
    position:fixed;
    top:0;
    width: 100%;
    transition:top 0.3s; 
    
}
footer{
    background-color: rgb(124, 165, 184, 0.5);
    color : whitesmoke; 
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition:0.4s;

}
footer a:hover{
    background-color:rgb(124, 165, 184, 0.8) ;
    color:whitesmoke;
    padding-top: 15px;
    width:150%;
    font-size: 1.5em;
    transition: 0.4s;
}
body {
    background-color: rgb(230, 241, 223);
    font-family:"Supermercado one", "Rage", "Brush Script MT";
    font-size: 22px;
    padding:0;
    margin:0;
    color:rgb(112, 7, 12);
}
.msg{
    padding: 35px;  
}
.msg p{
    padding-bottom:15px;
    font-size:  0.8em;
}
.book, .join{
    padding: 15px 30px;
    font-size:18px;
    font-weight: 200;
    margin-top: 50px;
    text-align: center;
    border-radius: 5px;
    color:green;
    background-color: gold;
    transition: 0.4s;
       
}
.book:hover, .join:hover{
    padding: 15px 30px;
    font-size:30px;
    font-weight: 200;
    margin-top: 50px;
    text-align: center;
    border-radius: 5px;
    color:green;
    background-color: gold;
}
/**main{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}**/
.listings{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
#firstonlist{
    grid-column: 2/4;
    grid-row:1/2;
}
#secondonlist{
    grid-column:5/7;
    grid-row:1/2;
}
#thirdonlist{
    grid-column:8/10;
    grid-row:1/2;
}
.messege{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
#background{
    grid-column:1/11;
    grid-row:1/6;
}
.msg{
    grid-column: 6/10;
    grid-row:3/4;
    z-index: 2;
}
.mountains{
    grid-column: 2/7;
    grid-row:2/5;
    z-index: 1;
    width: 800px;
}
@media screen and (max-width: 900px){
.hero_images, .listings{
    display: block;
    height: auto;
}
nav{
    display: block;
}
.header_links, footer{
    flex-direction: column;
    justify-content:space-evenly;
}
.hero_box{
    max-width: 500px;
    margin-top: 400px;

}
.home_title{
    margin:0;
}
nav a{
    display: block;
    padding: 15px;
}

.listing_img{
    margin:50px auto;
}
#background{
    display:none;
}
.messege{
    display: block;
}
.mountains{
    width:80%;
    display: block;
    margin:0 auto;
}
header{
    position:static;
    background-color:rgb(124, 165, 184, 0.2) ;
}

}
    
